<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer list</title>
</head>
<body>
<h1>About CUSTOMER MANAGEMENT SYSTEM</h1>

The primary purpose of a CMS is to efficiently manage customer data and interactions,
providing a comprehensive view of customer profiles, preferences, purchase history,
and communication records. By consolidating this information, businesses can personalize interactions,
nurture relationships, and drive customer satisfaction and loyalty.

 <div class="container">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-md text-center">
      <a class="navbar-brand" href="/">  CustomerHomePage</a>
    </div>
  </nav>
  </div>
</body>
</html>







































